* {
	font-family: sans-serif;
}

.margin-right {
	margin-right: 6em;
}

.top-right {
	position: absolute;
	top: .5em;
	right: 1em;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}
.a-tag {
	cursor: pointer;
}
body {
	margin: 0 auto;
	max-width: 980px;
	background: black;
	padding: 2em;
}
header, section, footer {
	margin: 0;
}
#title {
	font-size: 2em;
	color: white;
	margin: 0 0 .5em;
}

.page-wrap {
	max-width: 980px;
}

h3, h5 {
	font-weight: normal;
}

.faded {
	color: rgba(0, 0, 0, .6);
}

header {
	margin: 0 auto;
	text-align: center;
	background: white;
	padding: 1em 0 0 ;
}

#videos-button, #articles-button {
	background: white;
	color: rgba(180, 40, 40, 1);
	display: inline-block;
	padding: .3em .4em .5em;
	width: 8em;
	text-align: center;
	border: 2px solid rgba(200, 40, 40, 1);
}

#videos-button {
	border-radius: 1em 0 0 1em;
}
#articles-button {
	border-radius: 0 1em 1em 0;
}

.selected {
	background: rgba(200, 40, 40, 1) !important;
	color: white !important;
}

.outline {
	position: fixed;
	top: 0;
	height: 100vh;
	padding: 5em 0 7em;
	overflow: hidden;
	box-sizing: border-box;
}
.white {
	padding: 1em 0;
	background: white;
	height: 100%;
	overflow: auto;
}

ul {
	padding: 0;
	margin: 0;
	width: 100%;
}

.item {
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, .6);
	padding: 0 1em;
}
.item:last-child {
	border-bottom: 0px solid rgba(0, 0, 0, .4);
}

#load-more {
	background: transparent;
	border: none;
	font-size: 1.2em;
}